name: output_route_selector_example
description: Example app demonstrating output_route_selector plugin usage
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.3
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  output_route_selector:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
